<div class="calendar-wrapper">

  <div class="month-selector">
    <button (click)="previousMonth()" class="btn btn-primary previous-btn">
      {{ "label.previous" | translate }}
    </button>
    <p> {{ "month." + selectedMonth | translate }} {{ currentYear }} </p>
    <button (click)="nextMonth()" class="btn btn-primary next-btn">
      {{ "label.next" | translate }}
    </button>
  </div>

  <table>
    <tr>
      <th>{{ "weekday.sunday" | translate }}</th>
      <th>{{ "weekday.monday" | translate }}</th>
      <th>{{ "weekday.tuesday" | translate }}</th>
      <th>{{ "weekday.wednesday" | translate }}</th>
      <th>{{ "weekday.thursday" | translate }}</th>
      <th>{{ "weekday.friday" | translate }}</th>
      <th>{{ "weekday.saturday" | translate }}</th>
    </tr>
    <tr
      *ngFor="let week of [].constructor(monthEnum.weeksInAMonth); let weekNumber = index"
    >
      <td
        *ngFor="let day of [].constructor(monthEnum.daysInAWeek); let dayOfWeek = index"
        [ngClass]="{
          'weekend': monthService.isWeekend(dayOfWeek),
          'off-month': monthService.isOffMonth(weekNumber, dayOfWeek)
        }"
      >
        {{ monthService.currentMonth | day: weekNumber : dayOfWeek }}
        <div class="reminder-wrapper">
          <ng-container
            *ngFor="let reminder of remindersThisDay(weekNumber, dayOfWeek); let i = index"
          >
            <div (click)="emitOpenReminder(reminder)" [title]="reminder.label" class="reminder color_{{weekNumber + dayOfWeek + i % 10}}">
              {{reminder.label}}
            </div>
          </ng-container>
        </div>
      </td>
    </tr>
  </table>
</div>
