.calendar-wrapper {
  max-width: 900px;
  width: 98%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .month-selector {
    margin: 16px 0;

    p {
      display: inline;
      font-size: 36px;
    }

    button {
      display: inline-block;
      width: 100px;
      margin-top: 7px;
    }

    .previous-btn {
      float: left;
    }

    .next-btn {
      float: right;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);

    th {
      background: #007bff;
      color: white;
      width: 132px;
      height: 32px;
    }

    td {
      height: 92px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-weight: bold;
      text-align: left;
      padding: 16px;
      vertical-align: text-bottom;
    }

    .weekend {
      background: rgba(0, 123, 255, 0.1);
      color: #007bff;
    }

    .off-month {
      color: #7d7d7d;
    }
  }
}
