<div class="calendar-wrapper">
  {{ monthService.currentMonth.name }}
  <table cellspacing="0" cellpadding="0">
    <tr>
      <th>{{ "calendar.sunday" | translate }}</th>
      <th>{{ "calendar.monday" | translate }}</th>
      <th>{{ "calendar.tuesday" | translate }}</th>
      <th>{{ "calendar.wednesday" | translate }}</th>
      <th>{{ "calendar.thursday" | translate }}</th>
      <th>{{ "calendar.friday" | translate }}</th>
      <th>{{ "calendar.saturday" | translate }}</th>
    </tr>
    <tr
      *ngFor="let week of [].constructor(monthEnum.weeksInAMonth); let weekNumber = index"
    >
      <td
        *ngFor="let day of [].constructor(monthEnum.daysInAWeek); let dayOfWeek = index"
        [ngClass]="{
          'weekend': dayOfWeek == 0 || dayOfWeek == 6,
          'off-month': monthService.currentMonth['week_' + (weekNumber + 1)][dayOfWeek].format('MMM') != monthService.currentMonth.name
        }"
      >
        {{
          monthService.currentMonth["week_" + (weekNumber + 1)][dayOfWeek].format("DD")
        }}
      </td>
    </tr>
  </table>
</div>
