<ul *ngIf="reminder?.forecast">
  <li>
    {{ "weather.avgPressure" | translate }} <b> {{ reminder.forecast.pres }} mb </b>
  </li>
  <li>
    {{ "weather.avgWindSpd" | translate }} <b> {{ reminder.forecast.wind_spd }} m/s </b>
  </li>
  <li>
    {{ "weather.windGustSpd" | translate }} <b> {{ reminder.forecast.wind_gust_spd }} m/s </b>
  </li>
  <li>
    {{ "weather.avgWindDir" | translate }} <b> {{ reminder.forecast.wind_dir }}º </b>
  </li>
  <li>
    {{ "weather.avgTemp" | translate }} <b> {{ reminder.forecast.temp }}ºC </b>
  </li>
  <li>
    {{ "weather.maxTemp" | translate }} <b> {{ reminder.forecast.max_temp }}ºC </b>
  </li>
  <li>
    {{ "weather.minTemp" | translate }} <b> {{ reminder.forecast.min_temp }}ºC </b>
  </li>
  <li>
    {{ "weather.avgRelativeHum" | translate }} <b> {{ reminder.forecast.rh }}% </b>
  </li>
  <li>
    {{ "weather.avgCloud" | translate }} <b> {{ reminder.forecast.clouds }}% </b>
  </li>
  <li>
    {{ "weather.accPrec" | translate }} <b> {{ reminder.forecast.precip }} mm </b>
  </li>
  <li>
    {{ "weather.accSnow" | translate }} <b> {{ reminder.forecast.snow }} mm </b>
  </li>
</ul>
