<app-loading *ngIf="loadingInfo"></app-loading>

<app-generic-modal [throwLeft]="!!reminder?.forecast" [isOpen]="modalOpen">
  <ng-container *ngIf="!isEdit" header> {{ "title.newReminder" | translate }} </ng-container>
  <ng-container *ngIf="isEdit" header> {{ "title.editReminder" | translate }} </ng-container>
  <ng-container body>
    <form (submit)="submit()" [formGroup]="newReminderForm">
      <div class="form-group">
        <label for="label"> {{ "label.label" | translate }} </label>
        <input
          autocomplete="off"
          placeholder="Go buy some milk"
          type="text"
          class="form-control"
          id="label"
          name="label"
          [formControlName]="'label'"
          [ngClass]="{
            'is-invalid': newReminderForm.controls['label'].invalid && submitted
          }"
        />
        <small *ngIf="!newReminderForm.controls['label'].invalid || !submitted">
          {{ "info.maximum30" | translate }}
        </small>
        <small
          *ngIf="newReminderForm.controls['label'].invalid && submitted"
          class="text-danger"
        >
          {{ "error.maximum30Error" | translate }}
        </small>

        <label for="label"> {{ "label.time" | translate }} </label>
        <input
          mask="Hh:m0"
          autocomplete="off"
          placeholder="13:00"
          type="text"
          class="form-control"
          id="time"
          name="time"
          [dropSpecialCharacters]="false"
          [formControlName]="'time'"
          [ngClass]="{
            'is-invalid': newReminderForm.controls['time'].invalid && submitted
          }"
        />
        <small
          *ngIf="newReminderForm.controls['time'].invalid && submitted"
          class="text-danger"
        >
          {{ "error.required" | translate }}
        </small>

        <label for="label"> {{ "label.day" | translate }} </label>
        <input
          autocomplete="off"
          mask="d0/M0/0000"
          placeholder="16/02/2020"
          type="text"
          class="form-control"
          id="day"
          name="day"
          [dropSpecialCharacters]="false"
          [formControlName]="'day'"
          [ngClass]="{
            'is-invalid': newReminderForm.controls['day'].invalid && submitted
          }"
        />
        <small
          *ngIf="newReminderForm.controls['day'].invalid && submitted"
          class="text-danger"
        >
          {{ "error.required" | translate }}
        </small>

        <label for="label"> {{ "label.city" | translate }} </label>
        <input
          #city
          autocomplete="off"
          placeholder="London"
          type="text"
          class="form-control"
          id="city"
          name="city"
          [formControlName]="'city'"
          [ngClass]="{
            'is-invalid':
              (newReminderForm.controls['city'].errors?.required ||
                !isCityValid) &&
              submitted
          }"
        />
        <small
          *ngIf="newReminderForm.controls['city'].errors?.required && submitted"
          class="text-danger"
        >
          {{ "error.required" | translate }}
        </small>
        <small
          *ngIf="
            !newReminderForm.controls['city'].errors?.required &&
            !isCityValid &&
            submitted
          "
          class="text-danger"
        >
          {{ "error.cityNotFound" | translate }}
        </small>
      </div>

      <div class="buttons-wrapper">
        <button
          (click)="closeModal()"
          type="button"
          class="btn btn-outline-primary"
        >
          {{ "label.cancel" | translate }}
        </button>
        <button type="submit" class="btn btn-primary">
          <ng-container *ngIf="!loadingSubmit">
            {{ "label.save" | translate }}
          </ng-container>
          <img *ngIf="loadingSubmit" src="../../../../assets/icons/btn-loading.svg" />
        </button>
      </div>
    </form>
    <div *ngIf="isEdit" class="weather-info">
      <app-weather-details [reminder]="reminder"></app-weather-details>
    </div>
  </ng-container>
</app-generic-modal>
