.color_0 {
  background: #7497bf;
}

.color_1 {
  background: #f9a7cb;
}

.color_2 {
  background: #eaa398;
}

.color_3 {
  background: #e6d55f;
}

.color_4 {
  background: #e89462;
}

.color_5 {
  background: #ecb878;
}

.color_6 {
  background: #a577c5;
}

.color_7 {
  background: #66d8dc;
}

.color_8 {
  background: #ea92cf;
}

.color_9 {
  background: #C47482;
}
