.buttons-wrapper {
  width: 100%;
  text-align: right;

  button {
    margin-top: 15px;
    height: 38px;
    width: 76px;

    &:last-child {
      margin-left: 8px;
    }

    img {
      height: 42px;
      transform: translateY(-9px);
    }
  }
}

.blurry-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  transition: 0.2s;
  z-index: 8;
}